.cs-dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px;

    &-button {
        width: 100%;
        padding: 6px 28px 6px 12px;
        color: #444b52;
        cursor: pointer;
        background-color: #ffffff;
        transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
        font-weight: normal;
        position: relative;
        z-index: 10;
        border-radius: 4px;
        text-align: left;

        span {
            font-size: 14px;
            display: inline-block;
            line-height: 20px;
            color: #444b52;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 4px;
            border: 1px solid #cbd1d6;
            transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
        }

        i {
            position: absolute;
            top: 50%;
            right: 8px;
            transform: translateY(-50%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #939ca3;
        }
    }

    &-menu {
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, -20%, 0);
        transform-origin: 50% 0%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: calc(100% + 4px);
        width: max-content;
        width: 100%;
        background-color: #fff;
        box-sizing: content-box;
        border-radius: 6px;
        border: 1px solid #cbd1d6;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);

        &.open {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            transform-origin: 50% 0%;
        }

        &-wrapper {
            max-height: 180px;
            min-width: 100%;

            li {
                font-family: "roboto";
                font-size: 14px;
                color: #444b52;
                padding: 6px 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                box-sizing: border-box;

                &:not(:last-child) {
                    box-shadow: inset 0px -1px 0px #edeeef;
                }

                &:hover,
                &.active {
                    background-color: #f8f9fa;

                    span {
                        font-weight: 500;
                    }
                }
            }
        }

        li {
            [class*="ic-"] {
                color: #939ca3;
                display: none;
            }

            &.active {
                [class*="ic-"] {
                    display: block;
                }
            }
        }
    }
}

.st-banner {
    background: url(../images/banner-bg.png) no-repeat center;
    background-size: 100% 100%;
    padding: 48px 0;

    &__product {
        margin-right: 48px;

        .banner-product {
            max-width: 624px;
            margin-bottom: 36px;

            @media(max-width: 1200px) {
                display: none;
            }
        }

        .banner-logo {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 600;
            font-size: 60px;
            line-height: 100%;
            color: #FFFFFF;
            letter-spacing: -0.02em;
            display: flex;
            align-items: center;
            justify-content: center;

            .banner-icon {
                max-width: 39px;
                margin-right: 7px;

                @media(max-width: 1200px) {
                    max-width: 26px;
                    margin-right: 4px;
                }
            }

            @media (max-width: 1200px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                font-size: 40px;
            }
        }
    }

    &__info {
        text-align: center;
        max-width: 500px;

        h3 {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 100%;
            background: radial-gradient(109.5% 96.59% at 54.93% 27.75%, #C0C2CD 0%, #595A60 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 20px;

            @media(max-width: 1200px) {
                font-size: 28px;
                margin-bottom: 8px;
            }
        }

        .banner-gift {
            display: flex;
            justify-content: space-between;
            margin-top: 7px;

            .banner-balo {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 113%;
                color: #FFFFFF;

                img {
                    max-width: 36px;
                    margin-right: 6px;
                }

                @media(max-width: 1200px) {
                    display: flex;
                    align-items: center;
                }
            }

            .plus {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 50px;
                color: #FFFFFF;
            }

            .banner-mouse {
                display: flex;
                align-items: center;

                .mouse-text {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 21px;
                    line-height: 113%;
                    color: #FFFFFF;
                }

                img {
                    max-width: 26px;
                    margin-right: 6px;
                }

                span {
                    font-family: 'SF Pro Display';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 100%;
                    color: #FFFFFF;
                    transform: rotate(-0.48deg);
                    background: linear-gradient(4.21deg, #2E0670 3.12%, #5202B3 88.07%);
                    border-radius: 6px;
                    padding: 4px 9px;
                }
            }

            br {
                display: none;

                @media(max-width: 1200px) {
                    display: block;
                }
            }

            @media(max-width: 1200px) {
                justify-content: center;
                gap: 8px;
                margin-top: 8px;
            }
        }

        .banner-btn {
            margin: 20px 0;

            @media(max-width: 1200px) {
                margin: 24px 0 12px;
            }
        }

        .banner-desc {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #CBD1D6;

            .desc-link {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #CBD1D6;
                text-decoration: underline;
            }

            br {
                display: none;

                @media(max-width: 1200px) {
                    display: block;
                }
            }
        }

        .product-mb {
            display: none;

            @media(max-width: 1200px) {
                display: block;
                margin-top: 24px;
            }
        }

        @media(max-width: 1200px) {
            margin-top: 49px;
        }
    }

    @media(max-width: 1200px) {
        padding: 32px 0;

        .box-flex {
            position: relative;
            flex-direction: column-reverse;
        }
    }
}

.st-menu {
    background: #212529;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;

    .box-container,
    &--right {
        @include flexJustify(space-between);
    }

    &__logo {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 500;
        line-height: 48px;
        cursor: pointer;
        padding: 6px 0;
    }

    ul {
        display: flex;
        margin-right: 12px;

        li {
            padding: 0 24px;

            a {
                padding: 18px 0;
                display: inline-block;
                font-family: Roboto;
                font-weight: normal;
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 4px;
                    bottom: -1px;
                    left: 0;
                    background: #fff;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover,
                &.active {
                    &::before {
                        transform-origin: center right;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }

    &__call {
        padding-top: 12px;
    }

    .btn-call {
        position: relative;
        background: #27ae60;
        border-radius: 4px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        padding: 10px 16px 10px 36px;
        justify-content: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        i {
            top: 8px;
            left: 12px;
            position: absolute;
            font-size: 20px;
            display: flex;
            align-items: center;
        }

        span {
            font-weight: 500;
        }
    }

    .btn-booking {
        cursor: pointer;
        padding: 10px 16px;
        background: #cb1c22;
        display: inline-block;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        color: #fff;
        margin-right: 12px;
        border-radius: 4px;

        span {
            font-weight: 500;
        }

        i {
            display: none;
        }
    }

    @include responsive("sm") {
        &__logo {
            font-size: 24px;
            line-height: 32px;
            padding: 8px 0;
        }

        ul {
            display: none;
        }

        &__call {
            padding-top: 6px;
        }
    }
}

.st-news {
    &__content {
        padding: 16px 20px 20px;
        box-shadow: 0px 1px 4px 0px #0a0a0a26;
        border-radius: 6px;
        background: #fff;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;

        h2 {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            color: #212529;
        }

        a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            display: inline-block;
            color: #0664f9;

            &:hover,
            &:active,
            &:focus {
                color: #0664f9;
            }
        }
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    .news-item {
        width: calc(100% / 4);

        &:not(:last-child) {
            margin-right: 24px;
        }

        &__img {
            margin-bottom: 8px;
            text-align: center;
            display: inline-block;
        }

        &__text {
            display: inline-block;
            margin-bottom: 8px;

            h3 {
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0px;
                color: #444b52;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }

        &__badge {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            color: #6a737a;
            display: inline-block;
            padding: 5px 8px;
            background: #edeeef;
            border-radius: 4px;

            &:not(:last-child) {
                margin-right: 8px;
            }
        }
    }

    @include responsive("sm") {
        &__content {
            padding: 8px;
        }

        &__title {
            margin-bottom: 8px;

            h2 {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #212529;
            }

            a {
                display: none;
            }
        }

        &__list {
            flex-flow: column;
        }

        .news-item {
            width: 100%;

            article {
                display: flex;
            }

            &:not(:last-child) {
                margin-bottom: 16px;
            }

            &__img {
                margin-right: 12px;
                text-align: center;
                display: inline-block;
                max-width: 150px;
                width: auto;
                height: auto;
                margin-bottom: 0;
            }

            &__text {
                flex: 1;
                display: inline-block;
                margin-bottom: 0;

                h3 {
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 500;
                }
            }

            &__badges {
                display: none;
            }
        }

        &__btn {
            text-align: center;
            margin-top: 12px;

            a {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                display: inline-flex;
                color: #0664f9;

                &:hover,
                &:active,
                &:focus {
                    color: #0664f9;
                }

                i {
                    margin-left: 4px;

                    &::before {
                        font-size: 20px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}

//update
.st-desc {
    text-align: center;

    &__product {
        margin-bottom: 16px;
        overflow: hidden;
        height: 376px;

        img {
            max-width: 376px;

            @media (max-width: 768px) {
                max-width: 200px;
            }
        }
    }

    &__m2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        color: #939CA3;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 20px;
        }
    }

    &__heading {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 130%;
        color: #FFFFFF;
        margin: 8px 0;

        br {
            display: none;
        }
    }

    &__desc {
        max-width: 776px;
        margin: 0 auto 16px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #E1E4E6;
    }

    &__tabs {
        display: flex;
        align-content: center;
        margin: 0 auto;
        border-radius: 6px;
        max-width: 708px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #f8f9fa;
        margin-bottom: 64px;

        .tab-active {
            background: linear-gradient(4.21deg, #2e0670 3.12%, #5202b3 88.07%) !important;
        }

        .tab__item {
            flex: 1;
            max-height: 56px;
            background: #939ca3;
            border-radius: 0px 35px 35px 0px;
            border: none;
            padding: 14px 0;

            &:first-child {
                border-radius: 35px 0px 0px 35px;
            }

            &:last-child {
                border-radius: 0px 35px 35px 0px;
            }

            @media (max-width: 768px) {
                padding: 6px 0;
            }
        }

        @media (max-width: 768px) {
            margin: 0 10px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    .btn-booking {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
        display: inline-block;
        color: #fff;
        background: #cb1c22;
        padding: 18px 32px;
        border-radius: 6px;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
        }
    }

    @include responsive("sm") {

        &__heading {
            font-size: 36px;
            line-height: 120%;
            margin-bottom: 8px;
            margin: 4px 0 16px;

            br {
                display: block;
            }
        }

        &__desc {
            margin: 0 24px 16px 0;
            font-size: 14px;
            line-height: 20px;

            br {
                display: none;
            }
        }

        &__btn {
            margin-left: -24px;
        }

        .btn-booking {
            padding: 14px 24px;
        }

        .box-text {
            text-align: left;
            margin-left: 24px;
        }
    }
}

.st-update {
    position: relative;
    overflow-y: hidden;
    background: url(../images/desc-bg.png) no-repeat center;
    background-size: 100% 100%;

    .text-box {
        max-width: 476px;
        flex: 1;
        text-align: left;
    }

    &__box1 {
        padding: 48px 0 128px;
        background: #000;

        .typo {
            &-sub {
                color: #939ca3;
            }

            &-heading {
                color: #fff;
            }

            &-desc {
                color: #f8f9fa;
                margin-bottom: 18px;
            }
        }

        .img-box {
            padding-top: 36px;
            margin-right: 83px;
            width: 46.2%;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        .detail-box {
            span {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                color: #6a737a;
            }

            p {
                font-family: Roboto;
                font-size: 28px;
                font-weight: 500;
                line-height: 33px;
                color: #f8f9fa;
            }
        }
    }

    &__box2 {
        background: url(../images/box2-bg.png) no-repeat center;
        background-size: 100% 100%;

        .box-text {
            max-width: 476px;
            text-align: left;

            .typo-name {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
                color: #939CA3;
            }

            .typo-title {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 57px;
                color: #FFFFFF;
                margin: 8px 0 18px;
            }

            .typo-content {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #E1E4E6;
            }
        }

        .box-img {
            margin-left: -87px;

            img {
                max-width: 576px;
            }
        }
    }

    &__box3 {
        background: url(../images/box3-bg.png) no-repeat center;
        background-size: 100% 100%;
        padding: 48px 0;
        position: relative;

        .box-flex {
            flex-direction: column;
        }

        .box-text {
            max-width: 676px;
            text-align: left;
            margin: 0 auto 24px;

            .typo-title {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 130%;
                color: #FFFFFF;
            }

            .typo-subtitle {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 130%;
                background: radial-gradient(109.5% 96.59% at 54.93% 27.75%, #C0C2CD 0%, #595A60 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-bottom: 8px;
            }

            .typo-content {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #E1E4E6;
            }

            .box-btn {
                display: none;
            }
        }

        .box-img {
            margin: 0 auto;

            img {
                max-width: 676px;
            }

            .box-btn {
                margin-top: 24px;
            }
        }

    }

    &__box4 {
        background: url(../images/box4-bg.png) no-repeat center;
        background-size: 100% 100%;
        padding: 48px 0 144px;

        .box-text {
            margin: 0 auto;
            max-width: 676px;
            text-align: left;
            margin-bottom: 24px;

            .typo-subtitle {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 130%;
                background: radial-gradient(109.5% 96.59% at 54.93% 27.75%, #C0C2CD 0%, #595A60 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .typo-title {
                font-family: 'SF Pro Display';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 130%;
                text-align: center;
                color: #FFFFFF;
                text-align: left;
                margin-bottom: 8px;
            }

            .typo-content {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: #E1E4E6;
            }

            .box-img {
                display: none;
            }
        }

        .box-img {
            margin: 0 auto;

            img {
                max-width: 676px;
            }
        }
    }

    &__btn {
        position: absolute;
        text-align: center;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        .btn-show {
            background: #212529;
            display: inline-flex;
            text-align: center;
            width: 276px;
            border: 1px solid #939CA3;
            border-radius: 6px;
            padding: 17px 0;
            justify-content: center;

            span {
                font-family: Roboto;
                font-size: 20px;
                font-weight: 500;
                line-height: 20px;
                display: inline-block;
                color: #939CA3;
            }

            i {
                margin-left: 12px;
                color: #939CA3;
                font-size: 28px;
                line-height: 28px;
                display: inline-flex;
                margin-top: -2px;

                &::before {
                    font-size: 28px;
                    line-height: 20px;
                }
            }
        }

        @media (max-width: 768px) {
            bottom: 24px;
        }
    }

    &__hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: -1;
        transform: translateY(50%);
        transition: all 0.3s ease-in-out;
        height: 0;
    }

    &.open {
        .st-update__hidden {
            height: auto;
            opacity: 1;
            visibility: visible;
            position: relative;
            z-index: 1;
            top: unset;
            left: unset;
            transform: unset;
            margin-top: -80px;

            @media(max-width: 1200px) {
                margin-top: -44px;
            }
        }

        .st-update__btn {
            .btn-show {
                border: 1px solid #939ca3;

                i {
                    &::before {
                        content: "\f106";
                    }
                }
            }
        }
    }

    @include responsive("sm") {
        &__box1 {
            padding: 32px 0 76px;

            .box-container {
                flex-flow: column;
            }

            .text-box {
                order: 1;
                margin: 0 auto 16px;
                padding: 0 32px;
            }

            .img-box {
                margin: 0 auto;
                text-align: center;
                padding: 0;
                order: 2;
            }

            .typo-desc {
                margin-bottom: 20px;
            }

            .detail-box {
                span {
                    font-size: 14px;
                    line-height: 20px;
                }

                p {
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }

        &__box2 {
            padding: 32px 0;

            .box-flex {
                flex-direction: column-reverse;
            }

            .box-img {
                margin: 0 -10px;

                img {
                    max-width: 360px;
                }
            }

            .box-text {
                max-width: 100%;
                margin-top: 16px;

                .typo-name {
                    font-family: 'SF Pro Display';
                    font-size: 20px;
                    line-height: 20px;
                }

                .typo-title {
                    font-size: 36px;
                    line-height: 120%;
                    margin: 4px 0 16px;
                }

                .typo-content {
                    font-size: 14px;
                    line-height: 20px;
                    margin-right: 24px;
                }
            }
        }

        &__box3 {
            padding: 32px 0;

            .box-flex {
                flex-direction: column-reverse;
            }

            .box-img {
                margin: 0 10px 16px;
            }

            .box-text {
                margin: 0 24px;

                .typo-title {
                    font-size: 28px;
                    line-height: 100%;
                    margin-bottom: 8px;
                }

                .typo-subtitle {
                    font-size: 36px;
                    line-height: 100%;
                    margin-bottom: 16px;
                }

                .typo-content {
                    font-size: 14px;
                    line-height: 20px;
                }

                .box-btn {
                    display: block;
                    margin-top: 16px;
                }
            }

            .box-btn {
                display: none;
            }
        }

        &__box4 {
            padding: 32px 0 52px;

            .box-text {

                .typo-subtitle {
                    font-size: 36px;
                    line-height: 100%;
                    margin-bottom: 8px;
                    margin-left: 41px;
                }

                .typo-title {
                    font-size: 28px;
                    line-height: 100%;
                    margin-bottom: 16px;
                    margin-left: 41px;
                }

                .box-img {
                    display: block;
                    margin: 0 10px;

                    img {
                        max-width: 100%;
                    }
                }

                .typo-content {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 16px 24px 0;
                }
            }

            .box-img {
                display: none;
            }
        }

        &__btn {
            bottom: 24px;

            .btn-show {
                width: 160px;
                padding: 9px 0;

                span {
                    line-height: 16px;
                    font-size: 16px;
                }

                i {
                    font-size: 16px;
                    line-height: 16px;
                    margin-left: 6px;
                    margin-top: 0;

                    &::before {
                        line-height: 16px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.hide {
    display: none;
}

.cs-dropdown-menu-wrapper {

    li.item-gam,
    li.item-ram {
        @extend .hide;

        &.show {
            display: flex !important;
        }
    }
}

.cs-dropdown-menu {
    overflow-y: auto;
}

.box-flex {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
}

// Section rule
.section-rules {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 64px 0;
    background: #F8F9FA;

    .box-shadow {
        box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
        border-radius: 6px;
        padding: 16px;

        .bgd-overlay {
            border-radius: 0 0 6px 6px;
        }
    }

    .bgd-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 160px 0 16px;
        background: linear-gradient(360deg, #fff 0.46%, rgba(255, 255, 255, 0) 98.15%);
    }

    .inner-section-rules {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        max-width: 1200px;
        margin: 0 auto;
        color: #444b52;

        &>* {
            width: 48%;
        }

        @media (max-width: 991px) {
            display: block;
            max-width: 100%;
            margin: 0 auto;
            // padding: 0 10px;

            &>div {
                width: 100%;
            }
        }
    }

    .caption-rules {
        font-size: 20px;
        line-height: 28px;
        color: #212529;
        font-weight: 500;
        padding-bottom: 16px;

        @media (max-width: 991px) {
            text-align: center;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .content-rules {
        position: relative;
        background-color: #fff;
        height: 492px;
        overflow: hidden;

        .bgd-overlay .btn-more {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            color: #444B52;
            padding: 7px 11px;

            i {
                margin-left: 4px;

                &:before {
                    font-size: 16px;
                }
            }
        }

        .wrap-btn .xemthem {
            border: none;
        }

        @media(max-width: 991px) {
            height: 488px;
        }
    }

    .content-rules-programe {

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #444B52;
            padding-bottom: 8px;
        }

        @media (max-width: 991px) {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 991px) {
        padding: 32px 0;
    }
}

.custom-checkbox {
    display: block;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;

        &:checked+label:after {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: 5px;
            width: 6px;
            height: 12px;
            border: solid #2f855a;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    label {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;

        &:before {
            content: "";
            -webkit-appearance: none;
            border: 1px solid #cbd1d6;
            border-radius: 2px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 8px;
            width: 16px;
            height: 16px;
            left: 0;
            top: -1px;
        }
    }
}

.content-rules-list-customer {
    .top-rules {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        -ms-flex-pack: space-between;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        padding-bottom: 16px;
    }

    .frm-search {
        position: relative;
        width: 300px;

        &:before {
            content: "\e9a1";
            position: absolute;
            top: 5px;
            left: 9px;
            display: inline-block;
            font-family: "icon";
            color: #939ca3;
            margin-right: 5px;
        }

        .form-control {
            background: #fff;
            font-size: 14px;
            outline: none;
            width: 100%;
            border: 1px solid #cbd1d6;
            padding: 3px 12px 3px 28px;
            border-radius: 4px;
            height: auto;
        }

        @media (max-width: 850px) {
            width: 200px;
        }
    }

    .list-rules {
        border: 1px solid #edeeef;
        border-radius: 4px;
        margin-bottom: 16px;
        height: 100%;
        min-height: 280px;
        max-height: 368px;
        overflow: hidden;
        padding: 0 16px;
    }

    .tb-rules {
        width: 100%;
        font-size: 14px;
        text-align: left;
    }
}

.wrap-check {
    padding-left: 15px;

    @media (max-width: 991px) {
        padding-left: 0;
    }
}

.wrap-btn {
    text-align: center;
}

.btn-more {
    border: 1px solid #cbd1d6;
    border-radius: 4px;
    padding: 5px 28px 5px 12px;
    color: #0664F9;
    background-color: #fff;
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    i {
        margin-left: 8px;

        &:before {
            font-size: 14px;
        }
    }

    // &:after {
    //     position: absolute;
    //     top: 11px;
    //     right: 8px;
    //     content: "";
    //     border-left: 7px solid transparent;
    //     border-right: 7px solid transparent;
    //     border-top: 8px solid #cbd1d6;
    //     transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out,
    //         box-shadow 0.4s ease-in-out;
    // }

    @media (max-width: 850px) {
        font-size: 14px;
        line-height: 100%;
        // padding: 3px 28px 2px 10px;
    }
}

.order {
    padding: 64px 0;
    background-color: #f8f9fa;

    &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__left {
        flex: 1;
        max-width: 476px;

        .order__title {
            margin-bottom: 24px;
        }
    }

    &__right {
        width: 50%;
        max-width: 576px;
        padding-left: 74px;

        .order__title {
            color: #32373D;
        }

        .wrap {
            padding: 20px;
            background-color: white;
            border: 1px solid #cbd1d6;
            border-radius: 6px;
            box-shadow: 0px 1px 4px 0px #0a0a0a26;
        }
    }

    &__title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        color: #444b52;
        margin-bottom: 16px;
        text-align: center;
    }

    &__img {
        max-width: 460px;
        margin: 0 auto 26px;

        .wrap-img {
            position: relative;
            padding-top: 58%;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__color {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 18px;

        &-item {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:first-child {
                margin-right: 16px;
            }

            &[data-color="gray"] {
                .circle {
                    background-color: #7d7e80;
                }
            }

            &[data-color="silver"] {
                .circle {
                    background-color: #e2e4e6;

                    &:before {
                        color: #cb1c22;
                    }
                }
            }

            &.active {
                .circle::before {
                    display: block;
                }

                .circle {
                    border: 1px solid #cb1c22;
                }

                span {
                    font-weight: 500;
                }
            }
        }

        .circle {
            width: 32px;
            height: 32px;
            border: 1px solid #cbd1d6;
            border-radius: 50%;
            margin-right: 12px;
            position: relative;

            &::before {
                display: none;
                position: absolute;
                content: "\e801";
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-family: "icon";
                font-style: normal;
                font-weight: normal;
                speak: none;
                text-decoration: inherit;
                text-align: center;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                color: #fff;
                font-size: 20px;
            }
        }

        span {
            font-size: 20px;
            line-height: 28px;
            color: #444b52;
        }
    }

    .wrap-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;

        .cs-dropdown {
            width: 50%;
            max-width: 230px;
            position: relative;
            display: inline-block;
            border-radius: 6px;

            &:first-child {
                margin-right: 16px;
            }

            &-button {
                width: 100%;
                padding: 6px 32px 6px 12px;
                color: #444b52;
                cursor: pointer;
                background-color: #ffffff;
                -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                font-weight: normal;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: flex-start;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                position: relative;
                z-index: 10;
                border-radius: 4px;

                span {
                    font-size: 16px;
                    display: inline-block;
                    line-height: 24px;
                    color: #444b52;
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;
                    margin-right: 3px;
                }

                i {
                    position: absolute;
                    top: 50%;
                    right: 8px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    color: #939ca3;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-radius: 4px;
                    border: 1px solid #cbd1d6;
                    -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                    transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                }
            }

            &-menu {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translate3d(0, -20%, 0);
                transform: translate3d(0, -20%, 0);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                position: absolute;
                z-index: 100;
                left: 0;
                top: calc(100% + 4px);
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                width: 100%;
                background-color: #fff;
                -webkit-box-sizing: content-box;
                box-sizing: content-box;
                border-radius: 6px;
                border: 1px solid #cbd1d6;
                overflow: hidden;
                -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);

                &-wrapper {
                    max-height: 180px;
                    min-width: 100%;

                    li {
                        font-family: "roboto";
                        font-size: 14px;
                        color: #444b52;
                        padding: 6px 16px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        position: relative;
                        text-decoration: none;
                        cursor: pointer;
                        -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                        transition: all 0.3s cubic-bezier(0, 0, 0.4, 1);
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;

                        &:not(:last-child) {
                            webkit-box-shadow: inset 0px -1px 0px #edeeef;
                            box-shadow: inset 0px -1px 0px #edeeef;
                        }

                        &:hover {
                            background-color: #f8f9fa;

                            span {
                                font-weight: 500;
                            }
                        }

                        &.active {
                            background-color: #f8f9fa;

                            span {
                                font-weight: 500;
                            }

                            i {
                                display: block;
                            }
                        }

                        span {
                            font-size: 14px;
                            color: #444b52;
                        }

                        i {
                            color: #939ca3;
                            display: none;
                        }
                    }
                }

                &.open {
                    opacity: 1;
                    visibility: visible;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    -webkit-transform-origin: 50% 0%;
                    transform-origin: 50% 0%;
                }
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 24px;

        &-label {
            font-size: 20px;
            line-height: 28px;
            color: #6a737a;
            margin-right: 16px;
        }

        &-now {
            font-size: 32px;
            line-height: 40px;
            color: #cb1c22;
            margin-right: 8px;
            font-weight: 500;
        }

        &-old {
            font-size: 24px;
            line-height: 32px;
            color: #939ca3;
            text-decoration: line-through;
        }
    }

    .group-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .btn {
            cursor: pointer;
            width: 50%;
            max-width: 230px;
            padding: 10px 0;
            text-align: center;
            background-color: #e2e4e6;
            color: white;
            border: unset;

            &:first-child {
                margin-right: 16px;
            }

            &-red {
                background-color: #cb1c22;
            }

            &-blue {
                background-color: #0664f9;
            }

            p {
                font-size: 20px;
                line-height: 1;
                font-weight: 500;
                color: inherit;
                margin-bottom: 2px;
            }

            span {
                display: block;
                font-size: 14px;
                line-height: 1;
                color: inherit;
            }
        }
    }

    table {
        width: 100%;

        tr {
            border: 2px solid #edeeef;

            &:nth-child(2n + 1) {
                background-color: #f8f9fa;
            }
        }

        td {
            padding: 10px 16px;
            font-size: 14px;
            line-height: 20px;
            color: #444b52;

            &.detail {
                display: none;

                &.active {
                    display: block;
                }
            }
        }
    }

    @media (max-width: 992px) {
        .box-container {
            padding: 0 10px;
        }

        &-wrapper {
            display: block;
        }

        &__left {
            max-width: unset;
        }

        &__right {
            padding-left: 0;
            max-width: unset;
            margin: 16px auto 0;
            width: 100%;

            .wrap {
                max-width: 476px;
                margin: 0 auto;
            }

            .info {
                margin: 0 auto;
            }
        }
    }

    @media (max-width: 600px) {
        padding: 32px 0;

        &__title {
            font-size: 20px;
            line-height: 28px;
        }

        &__img {
            padding: 0 30px;
            margin-bottom: 18px;

            .wrap-img {}
        }

        &__color {
            margin-bottom: 14px;

            .circle {
                width: 24px;
                height: 24px;
                margin-right: 4px;

                &::before {
                    font-size: 14px;
                }
            }

            span {
                font-size: 14px;
                line-height: 20px;
            }
        }

        .wrap-dropdown {
            margin-bottom: 12px;
        }

        .cs-dropdown {
            &:first-child {
                width: 184px;
                margin-right: 8px !important;
            }

            &:nth-child(2) {
                width: 148px;
            }

            &-button {
                padding-right: 28px !important;

                p {
                    font-size: 14px !important;
                    line-height: 20px !important;
                }

                span {
                    font-size: 14px !important;
                    line-height: 20px !important;
                }

                i:before {
                    font-size: 16px;
                }
            }
        }

        &__price {
            margin-bottom: 16px;

            &-label {
                font-size: 16px;
                line-height: 24px;
                margin-right: 8px;
            }

            &-now {
                font-size: 24px;
                line-height: 32px;
            }

            &-old {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .group-btn {
            display: block;

            .btn {
                width: 100%;
                max-width: unset;
                padding: 6px 0;

                &:first-child {
                    margin-right: 0;
                    margin-bottom: 8px;
                }
            }
        }

        table {
            td {
                padding: 6px 8px;

                &:first-child {
                    width: 92px;
                }
            }
        }

        &__right .wrap {
            padding: 12px;
        }
    }
}


.st-news {
    background: #F8F9FA;
}

// popup rule
.popup-modal {
    display: none;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;
    height: 100vh;
}

.content-rules {
    position: relative;
    background-color: #fff;
    height: 492px;
    overflow: hidden;
}

.popup-modal-dialog {
    width: 100%;
    max-width: 700px;
    margin: 30px auto;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    .popup-main {
        border-radius: 10px;
        background-color: #fff;
        padding: 15px;
        position: relative;
    }

    .popup-btn-close {
        position: absolute;
        right: -15px;
        top: -15px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #575656;
        box-shadow: 0px 2px 10px #000;
        text-align: center;
        cursor: pointer;

        i {
            color: #fff;
            text-align: center;
            font-size: 16px;
            line-height: 28px;

            @media (max-width: 991px) {
                font-size: 12px;
                line-height: 1;
            }
        }

        @media (max-width: 991px) {
            width: 24px;
            height: 24px;
            right: -8px;
            top: -8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .popup-btn-close i {
        color: #fff;
        text-align: center;
        font-size: 16px;
        line-height: 28px;
    }

    .popup-title {
        font-size: 24px;
        line-height: 32px;
        color: #32373d;
        font-weight: 500;
        padding-bottom: 16px;
        text-align: center;

        @media (max-width: 991px) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .popup-contents {
        max-height: 380px;
        overflow-y: auto;
    }

    .content-rules-programe {
        font-size: 16px;
        line-height: 24px;

        p {
            padding-bottom: 8px;
        }
    }

    .content-rules {
        padding-right: 5px;
        height: auto;
    }

    @media (max-width: 991px) {
        width: calc(100% - 20px);
    }
}

.mobile-only {
    display: none !important;

    @media (max-width: 991px) {
        display: block !important;
        /* padding: 13px 10px; */
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #212529;
    }
}

@media (max-width: 991px) {
    .desktop-only {
        display: none !important;
    }
}

.totalOrder2 {
    font-weight: 500;
}

.wrap-btn {

    a:hover,
    a:active,
    a:focus {
        text-decoration: none;
        outline: none;
        color: #0664F9 !important;
    }
}

@import '../component/_anmate';
